.heading {
    color: #1e3c72 !important;
}

.addmore {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.form-control::placeholder {
    font-size: 16px;
}

i {
    color: #1e3c72 !important;
}

.input-group-text {
    background: #f1f1f1;
    border-right: 1px solid #ddd;
}
.save-btn {
    background: linear-gradient(to right, #00c6ff, #0072ff);
}
.update-btn {
    background: linear-gradient(to right, #11998e, #38ef7d);
}
.reset-btn {
    background: linear-gradient(to right, #ff7e5f, #feb47b); 
    border: none;
}
.add-btn {
    background: linear-gradient(to right, #00c6ff, #0072ff);
}