<div class="container my-4 p-4 shadow rounded bg-light">
  <button
    type="button"
    class="btn text-white add-btn"
    data-bs-toggle="modal"
    data-bs-target="#userModal"
  >
    Add User
  </button>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="userModal"
  tabindex="-1"
  aria-labelledby="userModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userModalLabel">
          <i class="bi bi-person-fill"></i> User Details
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form>
          <div class="mb-4">
            <div class="row">
              <div class="col-md-6">
                <label for="userName" class="form-label">User Name</label>
                <div class="input-group">
                  <span class="input-group-text"
                    ><i class="bi bi-person-fill"></i
                  ></span>
                  <input
                    [(ngModel)]="user.username"
                    name="username"
                    id="userName"
                    class="form-control border-2 shadow-sm"
                    placeholder="Enter User Name"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <label for="emailId" class="form-label">Email ID</label>
                <div class="input-group">
                  <span class="input-group-text"
                    ><i class="bi bi-envelope-fill"></i
                  ></span>
                  <input
                    [(ngModel)]="user.email"
                    name="email"
                    id="emailId"
                    class="form-control border-2 shadow-sm"
                    placeholder="Enter Email ID"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="mb-4">
            <div class="row">
              <div class="col-md-6">
                <label for="fullName" class="form-label">Full Name</label>
                <div class="input-group">
                  <span class="input-group-text"
                    ><i class="bi bi-person-lines-fill"></i
                  ></span>
                  <input
                    [(ngModel)]="user.fullName"
                    name="fullName"
                    id="fullName"
                    class="form-control border-2 shadow-sm"
                    placeholder="Enter Full Name"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                  <span class="input-group-text"
                    ><i class="bi bi-lock-fill"></i
                  ></span>
                  <input
                    type="password"
                    [(ngModel)]="user.password"
                    name="password"
                    id="password"
                    class="form-control border-2 shadow-sm"
                    placeholder="Enter Password"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6 text-end">
              <button
                type="button"
                class="btn text-white save-btn"
                (click)="saveUser()"
              >
                Save
              </button>
              <button
                type="button"
                class="btn text-white update-btn"
                (click)="updateUser()"
              >
                Update
              </button>
            </div>

            <div class="col-6 text-start">
              <button
                type="button"
                class="btn text-white reset-btn"
                (click)="resetForm()"
              >
                Reset
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
